@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
       url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'),
       url('../fonts/robotobold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  color: #283136;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fff;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content {
  flex: 1;
}

.main-content__wrapper {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 260px;
  margin-right: auto;
}

.sort-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
}

.catalog__title {
  width: 360px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.catalog {
  width: 760px;
  margin-bottom: 60px;
}

.catalog__sort {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.catalog__sort-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
  opacity: 0.3;
}

.catalog__sort-link[href]:hover {
  opacity: 0.6;
}

.catalog__sort-link_current,
.catalog__sort-link:active {
  opacity: 1;
}

.catalog__sort-link_down,
.catalog__sort-link_up {
  position: relative;
}

.catalog__sort-link_down::after,
.catalog__sort-link_up::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
}

.catalog__sort-link_down::after {
  background-image: url("../img/icon-down-dir.svg");
}

.catalog__sort-link_up::after {
  background-image: url("../img/icon-up-dir.svg");
}

.products-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 31px;
}

.catalog__item {
  width: 360px;
  margin-bottom: 24px;
}

.product {
  position: relative;
  padding-top: 40px;
}

.product::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  opacity: 0.12;
}

.product:hover {
  cursor: pointer;
}

.product:hover::before {
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.product:hover .product__description {
  transform: translate(-50%, -22%) scale(1);
  transition: 0.3s ease-in-out;
}

.product__description {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 100%;
  height: 231px;
  padding-top: 25px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #eee;
  text-align: center;
  transform: translate(-50%, -70%) scale(0);
}

.product__title {
  margin: 0;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.product__description p {
  margin: 0;
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 18px;
  color: #666;
}

.paginator__link {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  padding: 16px 20px;
  border-radius: 3px;
  background-color: #eee;
  color: #000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.paginator__link[href]:hover,
.paginator__link:focus {
  background-color: #dfdfdf;
}

.paginator__link:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.paginator__link_current {
  padding: 13px 17px;
  background: none;
  border: 3px solid #dbdbdb;
}

.paginator__link_next {
  padding-left: 77px;
  padding-right: 77px;
}

.filter__group {
  padding: 0;
  margin: 0;
  border: none;
}

.filter__group:nth-of-type(2) {
  margin-bottom: 30px;
}

.filter__group:nth-of-type(3) {
  margin-bottom: 35px;
}

.filter__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}

.filter__range-controls {
  position: relative;
  height: 40px;
  padding: 39px 21px;
  margin-bottom: 14px;
  border-radius: 3px;
  background-color: #eee;
}

.filter__scale {
  height: 2px;
  background-color: #d7dcde;
}

.filter__bar {
  position: relative;
  width: 68%;
  height: 2px;
  background-color: #00ca74;
}

.filter__bar::before,
.filter__bar::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 23px;
  background-image: url("../img/filter-button.svg");
}

.filter__bar::before {
  left: -10px;
  bottom: -12px;
}

.filter__bar::after {
  right: -10px;
  bottom: -12px;
}

.filter__price-controls input {
  width: 80px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: #eee;
}

.filter__price-controls {
  display: flex;
  justify-content: space-between;
}

input[name=min-price] {
  margin-left: 9px;
}

input[name=max-price] {
  margin-left: 9px;
}

.filter__group:first-child {
  margin-bottom: 51px;
}

.filter__group:nth-of-type(2) .filter__title,
.filter__group:nth-of-type(3) .filter__title {
  margin-bottom: 15px;
}

.filter__item {
  display: none;
}

.filter__label {
  display: block;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
}

.filter__label_radio {
  position: relative;
}

.filter__label_radio::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter__label_radio:hover::before,
.filter__label_radio:active::before,
.filter__label_checkbox:hover::before,
.filter__label_checkbox:active::before {
  opacity: 1;
}

.filter__item:disabled + .filter__label_radio::before,
.filter__item:disabled + .filter__label_checkbox::before {
  opacity: 0.1;
}

.filter__item:checked + .filter__label_radio::before {
  background-image: url("../img/radio-on.svg");
}

.filter__label_checkbox {
  position: relative;
}

.filter__label_checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter__item:checked + .filter__label_checkbox::before {
  background-image: url("../img/checkbox-on.svg");
}





.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.main-header {
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.main-header_shop {
  min-height: 355px;
  margin-bottom: 54px;
}

.main-header__title {
  margin: 0;
  margin-top: 75px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: black;
  text-align: center;
}

.main-navigation {
  display: flex;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-navigation__logo {
  width: 180px;
  padding-top: 49px;
  margin-right: 160px;
}

.main-navigation__menu {
  width: 480px;
  padding-top: 63px;
}

.main-navigation__user-content {
  width: 260px;
  padding-top: 63px;
  margin-left: auto;
}

.main-navigation__site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-navigation__user-controls {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.main-navigation__controls-item {
  width: 130px;
  min-width: 0;
  word-wrap: break-word;
  flex-shrink: 0;
}

.logo {
  display: block;
  width: 160px;
  height: 65px;
}

.logo[href]:hover,
.logo[href]:focus {
  opacity: 0.8;
}

.logo[href]:active {
  opacity: 0.3;
}

.main-navigation__link,
.main-navigation__controls-link {
  display: block;
  padding: 12px 20px;
  color: black;
  outline: none;
}

.main-navigation__controls-link {
  position: relative;
  padding-left: 55px;
  padding-right: 0;
}

.main-navigation__controls-link::before {
  position: absolute;
  top: 19px;
  left: 15px;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-navigation__site-nav a[href]:hover,
.main-navigation__user-controls a[href]:hover,
.main-navigation__site-nav a[href]:focus,
.main-navigation__user-controls a[href]:focus {
  color: #fb565a;
}

.main-navigation__site-nav a[href]:active,
.main-navigation__user-controls a[href]:active {
  color: black;
  opacity: 0.3;
}

.main-navigation__item_current {
  position: relative;
}

.main-navigation__item_current::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 6px;
  left: 20px;
  right: 20px;
  background-color: #fb565a;
}

.advantages {
  position: relative;
}

.advantages__list {
  position: relative;
  width: 1160px;
  height: 430px;
  margin: 0 auto;
}

.advantages__item-title {
  width: 560px;
  margin: 0;
  margin-top: 77px;
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  color: black;
}

.slider__item p {
  width: 414px;
  margin-bottom: 42px;
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider__input,
.slider__item {
  display: none;
}

#advantages-input-1:checked ~ .advantages__list .advantages__item_expensive,
#advantages-input-2:checked ~ .advantages__list .advantages__item_math,
#advantages-input-3:checked ~ .advantages__list .advantages__item_hardcore {
  display: block;
}

.slider__toggles {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  z-index: 20;
}

.slider__control {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  border-radius: 50%;
  background-color: white;
  font-size: 0;
  cursor: pointer;
}

#advantages-input-1:checked ~ .slider__toggles label[for="advantages-input-1"]::after,
#advantages-input-2:checked ~ .slider__toggles label[for="advantages-input-2"]::after,
#advantages-input-3:checked ~ .slider__toggles label[for="advantages-input-3"]::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 5px;
  transform: translateY(50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #d1d1d1;
}

#advantages-input-1:checked ~ .advantages__list {
  background-image: url('../img/Slider-1.png');
  background-repeat: no-repeat;
  background-position: bottom right 31px;
}

#advantages-input-2:checked ~ .advantages__list {
  background-image: url('../img/Slider-2.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

#advantages-input-3:checked ~ .advantages__list {
  background-image: url('../img/Slider-3.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.btn {
  display: inline-block;

  font: inherit;
  text-align: center;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  border: none;
  padding: 0;
  background-color: #fb565a;

  cursor: pointer;
  outline: none;
}

.btn_slider {
  padding: 16px 55px;
}

.btn_red,
.btn_green,
.btn_yellow {
  padding: 16px 40px;
}

.btn_contacts {
  width: 100%;
  padding: 16px 40px;
}

.btn_form {
  padding: 16px 84px;
}

.btn_slider:hover,
.btn_slider:focus,
.btn_red:hover,
.btn_red:focus,
.btn_contacts:hover,
.btn_contacts:focus,
.btn_form:hover,
.btn_form:focus {
  background-color: #e74246;
}

.btn_slider:active,
.btn_red:active,
.btn_contacts:active,
.btn_form:active {
  color: #d77376;
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.btn_green {
  background-color: #00ca74;
}

.btn_green:hover,
.btn_green:focus {
  background-color: #00bc6c;
}

.btn_green:active {
  color: #4dc491;
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.btn_yellow {
  background-color: #efc84a;
}

.btn_yellow:hover,
.btn_yellow:focus {
  background-color: #eab534;
}

.btn_yellow:active {
  color:#edc265;
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.btn_filter {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: black;
  background-color: #eee;
}

.btn_filter:hover,
.btn_filter:focus {
  background-color: #dfdfdf;
}

.btn_filter:active {
  color: #959595;
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.btn_product {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 200px;
}

.btn_product:hover,
.btn_product:focus {
  background-color: #e74246;
}

.btn_product:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.features {
  padding-bottom: 80px;
  margin-bottom: 40px;
  border-bottom: 2px solid #eee;
}

.features__list {
  display: flex;
  justify-content: space-between;
}

.features__list-item {
  width: 360px;
  padding-top: 172px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 300px 146px;
}

.features__list-item:first-child {
  background-image: url('../img/feature-1.png');
}

.features__list-item:nth-of-type(2) {
  background-image: url('../img/feature-2.png');
}

.features__list-item:last-child {
  background-image: url('../img/feature-3.png');
}

.features__list h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}

.features__list-item p {
  width: 280px;
  margin: 0;
  margin-bottom: 32px;
}

.services {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  margin-bottom: 45px;
  border-bottom: 2px solid #eee;
}

.services__desc {
  width: 680px;
  padding-top: 36px;
}

.services__benefits {
  width: 360px;
  padding-top: 245px;
  background-image: url("../img/nerds-illustration.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 360px 208px;
}

.services__desc p {
  margin: 0;
}

.services__desc p:first-child {
  margin-bottom: 30px;
}

.services__desc p:nth-child(2) {
  margin-bottom: 40px;
}

.services__desc p:nth-child(3) {
  margin-bottom: 25px;
}

.services__title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: black;
}

.services__promo {
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.services__list-item {
  position: relative;
  padding-left: 38px;
  margin-bottom: 24px;
  color: #283136;
}

.services__list-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.services__benefits-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.services__benefits p {
  margin: 0;
}

.services__benefits-title {
  display: block;
  margin-bottom: 36px;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.services__stats {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: black;
}

.services__stats td {
  width: 33.333333%;
  padding-top: 5px;
  padding-bottom: 15px;
  vertical-align: top;
}

.services__stats sup {
  top: -0.4em;
  right: 0.4em;
  font-size: 65%;
}

.services__field td {
  line-height: 18px;
}

.brands {
  padding-bottom: 37px;
  margin-bottom: 80px;
  border-bottom: 2px solid #eee;
}

.brands__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.brands__list-item_htmlacademy {
  margin-top: 15px;
  margin-left: -20px;
}

.brands__list-item_barbershop {
  margin-left: -10px;
}

.brands__list-item_pink {
  margin-top: 20px;
  margin-left: -5px;
}

.brands__list-item_mishka {
  margin-top: 5px;
  margin-right: -15px;
}

.brands__link {
  display: block;
  opacity: 0.2;
  outline: none;
}

.brands__link:hover,
.brands__link:focus {
  opacity: 1;
}

.brands__link:active {
  opacity: 0.1;
}

.contacts__container {
  position: relative;
}

.contacts__wrapper {
  position: absolute;
  top: 55px;
  left: 20px;
  width: 318px;
  height: 309px;
  padding: 50px;
  background-color: #fff;
  z-index: 10;
}

.contacts__wrapper p:first-child {
  margin: 0;
  margin-bottom: 19px;
}

.contacts__wrapper p:nth-of-type(2) {
  margin: 0;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 18px;
  color: #666;
}

.contacts__phone {
  display: block;
  margin-bottom: 39px;
  font-size: 16px;
  line-height: 18px;
  color: #666;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}

.main-footer__container {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
}

.main-footer__contacts {
  width: 260px;
  margin-right: 140px;
}

.main-footer__promo {
  width: 600px;
}

.social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social__link:focus,
.social__link:hover {
  background-color: #e74246;
}

.social__link:active {
  background-color: #d7373b;
}

.social__link:active path {
  fill: #e37376;
}

.main-footer__promo p {
  margin: 0;
}

.main-footer__promo p:first-child {
  padding-top: 5px;
  margin-bottom: 7px;
}

.main-footer__promo b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: black;
}

.modal {
  display: none;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-form {
  bottom: 180px;
  left: 50%;
  width: 960px;
  margin-left: -480px;
  padding: 75px 100px 85px;
  z-index: 30;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-form__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: black;
}

.modal-form__field-title {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: black;
}

.modal-form__row:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.modal-form__row:nth-child(2) {
  margin-bottom: 45px;
}

.modal-form__input {
  width: 360px;
  flex-grow: 1;
  padding: 15px;
  border: 2px solid #d7dcde;
  color: #444;
  outline: none;
}

.modal-form__input:hover,
.modal-form__big-text:hover {
  border: 2px solid #b4b9bb;
}

.modal-form__input:focus,
.modal-form__big-text:focus {
  border: 2px solid black;
}

.modal-form__placeholder:focus::-webkit-input-placeholder {
  color: black;
}

.modal-form__big-text {
  width: 100%;
  height: 118px;
  padding: 15px;
  border: 2px solid #d7dcde;
  color: #444;
  outline: none;
  resize: none;
}

@keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.modal-form__required-value {
  border: 2px solid #e74246;
  animation-name: shake;
  animation-duration: 0.6s;
}

.modal-form__required-value::-webkit-input-placeholder {
  color: #e74246;
}

#map {
  height: 416px;
}
